.transition {
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.box-shadow {
  -webkit-box-shadow: 0px 4px 5px #666, 2px 6px 10px #999;
  -moz-box-shadow: 0px 4px 5px #666, 2px 6px 10px #999;
  box-shadow: 0px 4px 5px #666, 2px 6px 10px #999;
}

.inset-box-shadow {
  -webkit-box-shadow: inset 0 0 4px #aaa;
  -moz-box-shadow: inset 0 0 4px #aaa;
  box-shadow: inset 0 0 4px #aaa;
}

.border-radius-edge {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.side-border-and-radius {
  border-top: 2px solid #333;
  border-bottom: none;
  border-left: none;
  border-right: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.side-border-and-radius2 {
  border-left: 2px solid #333;
  border-top: none;
  border-right: none;
  border-bottom: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.clearfix:before, .clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.bg-opacity {
  background-color: rgba(80, 164, 226, 0.5);
}

.bg-size {
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

.bg-size2 {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.scale {
  -webkit-transform: scale(2, 3);
  -moz-transform: scale(2, 3);
  -o-transform: scale(2, 3);
  -ms-transform: scale(2, 3);
  transform: scale(2, 3);
}

.move {
  -webkit-transform: translate(10px, 30px);
  -moz-transform: translate(10px, 30px);
  -o-transform: translate(10px, 30px);
  -ms-transform: translate(10px, 30px);
  transform: translate(10px, 30px);
}

.rotate {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.skew {
  -webkit-transform: skew(20deg, 0deg);
  -moz-transform: skew(20deg, 0deg);
  -o-transform: skew(20deg, 0deg);
  -ms-transform: skew(20deg, 0deg);
  transform: skew(20deg, 0deg);
}

.flip {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.serif {
  font-family: times, serif;
}

.sans-serif {
  font-family: helvetica, serif;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.border {
  border: 1px solid #000;
  border: 1px dotted #000;
  border: 1px dashed #000;
  border: 1px double #000;
  border: 1px groove #000;
  border: 1px ridge #000;
  border: 1px inset #000;
  border: 1px outset #000;
}

.border-image {
  border-width: 10px;
  -webkit-border-image: url("https://mdn.mozillademos.org/files/4127/border.png") 30 round;
  -moz-border-image: url("https://mdn.mozillademos.org/files/4127/border.png") 30 round;
  -o-border-image: url("https://mdn.mozillademos.org/files/4127/border.png") 30 round;
  border-image: url("https://mdn.mozillademos.org/files/4127/border.png") 30 round;
}

.border-image2 {
  border-width: 10px;
  -webkit-border-image: url("https://mdn.mozillademos.org/files/4127/border.png") 30 40 30 round;
  -moz-border-image: url("https://mdn.mozillademos.org/files/4127/border.png") 30 40 30 round;
  -o-border-image: url("https://mdn.mozillademos.org/files/4127/border.png") 30 40 30 round;
  border-image: url("https://mdn.mozillademos.org/files/4127/border.png") 30 40 30 round;
}

.border-image3 {
  border-width: 10px;
  -webkit-border-image: url("https://mdn.mozillademos.org/files/4127/border.png") 30 40 round;
  -moz-border-image: url("https://mdn.mozillademos.org/files/4127/border.png") 30 40 round;
  -o-border-image: url("https://mdn.mozillademos.org/files/4127/border.png") 30 40 round;
  border-image: url("https://mdn.mozillademos.org/files/4127/border.png") 30 40 round;
}

.border-image4 {
  border-width: 10px;
  -webkit-border-image: url("https://mdn.mozillademos.org/files/4127/border.png") 30 40 50 60 round;
  -moz-border-image: url("https://mdn.mozillademos.org/files/4127/border.png") 30 40 50 60 round;
  -o-border-image: url("https://mdn.mozillademos.org/files/4127/border.png") 30 40 50 60 round;
  border-image: url("https://mdn.mozillademos.org/files/4127/border.png") 30 40 50 60 round;
}

.pointer:hover {
  cursor: pointer;
}

.no-focus:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.animate {
  -webkit-animation: test 3s 2s infinte;
  -moz-animation: test 3s 2s infinte;
  -o-animation: test 3s 2s infinte;
  animation: test 3s 2s infinte;
}

.select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.text-select::selection, .text-select::-moz-selection {
  color: #343434;
  background-color: #a0a0a0;
}

.linear {
  background: -webkit-linear-gradient(left, red 5%, blue, yellow, orange);
  background: -moz-linear-gradient(left, red 5%, blue, yellow, orange);
  background: -o-linear-gradient(left, red 5%, blue, yellow, orange);
  background: linear-gradient(to right, red 5%, blue, yellow, orange);
}

.repeating {
  background: -webkit-repeating-linear-gradient(left, red, blue, yellow 5%);
  background: -moz-repeating-linear-gradient(left, red, blue, yellow 5%);
  background: -o-repeating-linear-gradient(left, red, blue, yellow 5%);
  background: repeating-linear-gradient(to right, red, blue, yellow 5%);
}

.placeholder::-webkit-input-placeholder {
  color: #8a8a8a;
}

.placeholder:-moz-placeholder {
  color: #8a8a8a;
}

.placeholder::-moz-placeholder {
  color: #8a8a8a;
}

.placeholder:-ms-input-placeholder {
  color: #8a8a8a;
}

@media screen and (max-width: 1200px) {
  .large {
    background-color: #eee;
  }
}

@media screen and (max-width: 992px) {
  .medium {
    background-color: #ddd;
  }
}

@media screen and (max-width: 768px) {
  .small {
    background-color: #ccc;
  }
}

@media screen and (max-width: 480px) {
  .xs {
    background-color: #bbb;
  }
}

@media screen and (max-width: 320px) {
  .mobile {
    background-color: #aaa;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .retina {
    background-color: #50a4e2;
  }
}
