.transition {
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.animation {
  -webkit-animation: test 3s 2s infinite;
  -moz-animation: test 3s 2s infinite;
  -o-animation: test 3s 2s infinite;
  animation: test 3s 2s infinite;
}

.bg-opacity {
  background-color: rgba(80, 164, 226, 0.5);
}

.bg-size {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.linear-gradient {
  background: -webkit-linear-gradient(left, #00a0e3 5%, #50a4e2, #0a6da7);
  background: -moz-linear-gradient(left, #00a0e3 5%, #50a4e2, #0a6da7);
  background: -o-linear-gradient(left, #00a0e3 5%, #50a4e2, #0a6da7);
  background: linear-gradient(to right, #00a0e3 5%, #50a4e2, #0a6da7);
}

.repeat-linear {
  background: -webkit-repeating-linear-gradient(left, #00a0e3, #50a4e2, #0a6da7);
  background: -moz-repeating-linear-gradient(left, #00a0e3, #50a4e2, #0a6da7);
  background: -o-repeating-linear-gradient(left, #00a0e3, #50a4e2, #0a6da7);
  background: repeating-linear-gradient(to right, #00a0e3, #50a4e2, #0a6da7);
}

.radial-gradient {
  background: -webkit-radial-gradient(#50a4e2, #0a6da7, #00a0e3);
  background: -o-radial-gradient(#50a4e2, #0a6da7, #00a0e3);
  background: -moz-radial-gradient(#50a4e2, #0a6da7, #00a0e3);
  background: radial-gradient(#50a4e2, #0a6da7, #00a0e3);
}

.repeat-radial {
  background: -webkit-repeating-radial-gradient(#50a4e2, #00a0e3, #0a6da7);
  background: -o-repeating-radial-gradient(#50a4e2, #00a0e3, #0a6da7);
  background: -moz-repeating-radial-gradient(#50a4e2, #00a0e3, #0a6da7);
  background: repeating-radial-gradient(#50a4e2, #00a0e3, #0a6da7);
}
