// Background Opacity mixin
// Add opacity to a background color
@mixin backgroundOpacity($color, $opacity) {
    background-color: rgba($color, $opacity);
}

// Background Size mixin
// Set background size for a background image
@mixin backgroundSize($width: auto, $height: auto) {
	@if $width == cover or $width == contain {
		-webkit-background-size: $width;
		-moz-background-size: $width;
		-o-background-size: $width;
		background-size: $width;
	}
	@else if ($width != cover and $height != cover) and ($width != contain and $height != contain) {
		-webkit-background-size: $width $height;
		-moz-background-size: $width $height;
		-o-background-size: $width $height;
		background-size: $width $height;
	}
}

// Background linear gradient mixin
// Add a linear gradient to any element's background
@mixin linearGradient($gradientValues...) {
	background: -webkit-linear-gradient($gradientValues);
	background: -moz-linear-gradient($gradientValues);
	background: -o-linear-gradient($gradientValues);
	background: linear-gradient($gradientValues);
}

// Background repeating linear gradient mixin
// Add a repeating linear gradient to any element's background
@mixin repeatingLinearGradient($gradientValues...) {
	background: -webkit-repeating-linear-gradient($gradientValues);
	background: -moz-repeating-linear-gradient($gradientValues);
	background: -o-repeating-linear-gradient($gradientValues);
	background: repeating-linear-gradient($gradientValues);
}

// Background radial gradient mixin
// Add a radial gradient to any element's background
@mixin radialGradient($gradientValues...) {
	background: -webkit-radial-gradient($gradientValues);
	background: -o-radial-gradient($gradientValues);
	background: -moz-radial-gradient($gradientValues);
	background: radial-gradient($gradientValues);
}

// Background repeating radial gradient mixin
// Add a repeating radial gradient to any element's background
@mixin repeatingRadialGradient($gradientValues...) {
	background: -webkit-repeating-radial-gradient($gradientValues);
	background: -o-repeating-radial-gradient($gradientValues);
	background: -moz-repeating-radial-gradient($gradientValues);
	background: repeating-radial-gradient($gradientValues);
}
