// Background Opacity mixin
// Add opacity filter to a background color
@mixin backgroundOpacity($color, $opacity) {
    background-color: rgba($color, $opacity);
}

// Background Size mixin
// Set background size for a background image
@mixin backgroundSize($width: auto, $height: auto) {
	@if $width == cover or $width == contain {
		-webkit-background-size: $width;
		-moz-background-size: $width;
		-o-background-size: $width;
		background-size: $width;
	}
	@else if ($width != cover and $height != cover) and ($width != contain and $height != contain) {
		-webkit-background-size: $width $height;
		-moz-background-size: $width $height;
		-o-background-size: $width $height;
		background-size: $width $height;
	}
}

// Background linear gradient mixin
// Add a linear gradient to any element's background
@mixin gradientPrefixesLinear($dir, $colors...) {
	background: -webkit-linear-gradient($dir, $colors);
	background: -moz-linear-gradient($dir, $colors);
	background: -o-linear-gradient($dir, $colors);
}
@mixin linearGradient($dir, $colors...) {
	@if $dir == left {
		@include gradientPrefixesLinear($dir, $colors);
		background: linear-gradient(to right, $colors);
	}
	@else if $dir == right {
		@include gradientPrefixesLinear($dir, $colors);
		background: linear-gradient(to left, $colors);
	}
	@else if $dir == top {
		@include gradientPrefixesLinear($dir, $colors);
		background: linear-gradient(to bottom, $colors);
	}
	@else if $dir == bottom {
		@include gradientPrefixesLinear($dir, $colors);
		background: linear-gradient(to top, $colors);
	}
}

// Background repeating linear gradient mixin
// Add a repeating linear gradient to any element's background
@mixin gradientPrefixesRepeating($dir, $colors...) {
	background: -webkit-repeating-linear-gradient($dir, $colors);
	background: -moz-repeating-linear-gradient($dir, $colors);
	background: -o-repeating-linear-gradient($dir, $colors);
}
@mixin repeatingLinearGradient($dir, $colors...) {
	@if $dir == left {
		@include gradientPrefixesRepeating($dir, $colors);
		background: repeating-linear-gradient(to right, $colors);
	}
	@else if $dir == right {
		@include gradientPrefixesRepeating($dir, $colors);
		background: repeating-linear-gradient(to left, $colors);
	}
	@else if $dir == top {
		@include gradientPrefixesRepeating($dir, $colors);
		background: repeating-linear-gradient(to bottom, $colors);
	}
	@else if $dir == bottom {
		@include gradientPrefixesRepeating($dir, $colors);
		background: repeating-linear-gradient(to top, $colors);
	}
}

