// Clearfix hack mixin
// To contain floats within containers
@mixin clearfix {
    &:before,
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}

// Display flex mixin
// Add flex display property to any element
@mixin displayFlex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
} 

