// Load Font face mixin
// Load a web-safe font with fallbacks
@mixin fontFace($font) {
	$font: to-lower-case($font);
	// Web safe serif fonts
	@if $font == georgia or $font == palatino or $font == times New Roman or $font == times {
		font-family: $font, serif;
	}
	// Web safe sans-serif fonts
	@else if $font == arial or $font == helvetica or $font == gill sans or $font == impact or $font == lucida grande or $font == tahoma or $font == geneva or $font == verdana {
		font-family: $font, sans-serif;
	}
}
