// User select mixin
// Set user select property for an element
@mixin userSelect($value) {
	-webkit-user-select: $value;
	-moz-user-select: $value;
	-ms-user-select: $value;
} 

// Text select mixin
// Modify css for text selection
@mixin textSelection {
	&::selection {
		@content;
	}
	&::-moz-selection {
		@content;
	}
}

// Placeholder mixin
// Style placeholders within input fields
@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}	
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
} 
