// Scale transform mixin
// Scale an element
@mixin scale($xScale, $yScale) {
	-webkit-transform: scale($xScale, $yScale);
	-moz-transform: scale($xScale, $yScale);
	-o-transform: scale($xScale, $yScale);
	-ms-transform: scale($xScale, $yScale);
	transform: scale($xScale, $yScale);
}

// Translate transform mixin
// Translate an element
@mixin translate($x, $y) {
	-webkit-transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	-o-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	transform: translate($x, $y);
}

// Rotate transform mixin
// Rotate an element
@mixin rotate($deg) {
	-webkit-transform: rotate($deg+deg);
	-moz-transform: rotate($deg+deg);
	-o-transform: rotate($deg+deg);
	-ms-transform: rotate($deg+deg);
	transform: rotate($deg+deg);
}
