// Scale transform mixin
// Scale an element
@mixin scale($x, $y) {
	-webkit-transform: scale($x, $y);
	-moz-transform: scale($x, $y);
	-o-transform: scale($x, $y);
	-ms-transform: scale($x, $y);
	transform: scale($x, $y);
}

// Translate transform mixin
// Translate an element
@mixin translate($x, $y) {
	-webkit-transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	-o-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	transform: translate($x, $y);
}

// Rotate transform mixin
// Rotate an element
@mixin rotate($deg) {
	-webkit-transform: rotate($deg+deg);
	-moz-transform: rotate($deg+deg);
	-o-transform: rotate($deg+deg);
	-ms-transform: rotate($deg+deg);
	transform: rotate($deg+deg);
}

// Skew transform mixin
// Skew an element
@mixin skew($x, $y) {
	-webkit-transform: skew($x, $y);
	-moz-transform: skew($x, $y);
	-o-transform: skew($x, $y);
	-ms-transform: skew($x, $y);
	transform: skew($x, $y);
}